html {
  position: relative;
  min-height: 100%;
}

body {

    background-image: url("../img/forest.jpg");
    background-position: -60px -0px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 90px;

}
body::-webkit-scrollbar {
    display: none;
  }
body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, black, rgba(0, 0, 0, 0));
    backdrop-filter: blur(2px); /* Blur effect */
    z-index: -1; /* Send the overlay behind content */
}

.legsHome, .legsTask, .legsFriends, .legsLeaderboard{
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
     position:fixed;
     bottom: 0;
     width: 100%;
     height: 70px;
     background-color: #f5f5f5;
    border-top: 1px solid transparent;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
}

.footer span{
    font-size: 15px !important;
    font-weight: 700;
}

.navbar{
    border-top: 1px solid transparent;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
}

.group-container{
    padding:0;
    height:100%;
}

.selectors, .block{
    height:100%;
    width:100%;
}

.selectors button{
    border: 0;
    border-radius: 0;
    background-color: #f8f9fa !important;
    width:25%;
    margin-left: 0;
}

.selectors button:active{
    border:0;
}

.selectors button:focus{
    border:0;
    outline: 0;
    box-shadow: 0 0 0 0px;
}

.active, .selector-holder{
    display: flex;
    flex-direction: column;
}

.inactive{
    display: none;
}

.selector-holder span{
    font-size: 0.8rem;
}

/* Colors of the buttons*/
.button-active, .selectors button:hover, .selectors button:active, .selectors button:focus{
    color: #c26016;
    cursor: pointer;
}

.button-inactive{
    color: #000;
}
