
*{
  font-family: monospace;
}
.upgrade-card {
  background-color: rgb(255, 255, 255);
  border-radius: 0px 0px 10px 10px;
  padding: 10px;
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.642);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 15px;
  font-family: Arial, sans-serif;
  text-align: center;
  height: 30vh;
  padding-bottom: 20px;
}
.upgrade-card img{
  width: 25px;
}

.title {
  font-weight: bold;
  margin-bottom: 10px;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.icon {
  font-size: 18px;
}

.item-name {
  font-weight: bold;
}

.item-progress {
  font-weight: bold;
}

.progress-bar {
  background-color: #e0e0e0;
  border-radius: 5px;
  overflow: hidden;
  height: 6px;
  margin-bottom: 10px;
}

.progress {
  width: 50%;
  background-color: #4a90e2;
  height: 100%;
}

.growing-time {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.time-text {
  font-size: 14px;
  color: #666;
}

.time-value {
  font-weight: bold;
}

.btns{
  width: 100%;
  height: 100px;
  position: absolute;
  top: 25vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.game-item{
  width: 15%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

}
.btn-item{
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  background: linear-gradient(to top, rgb(132, 206, 252), rgb(255, 255, 255));
  margin-top: 10px;
}

.btn-item img{
  width: 60%;
}
.foxImage{
  margin-top: 90px;
}
.foxImage img{
  width: 100%;

}
.legPoint{
  background-color: white;
  width: 100%;
  color: rgb(0, 0, 0);
  margin-top: 20px;
  margin-bottom: -30px;
  height: 80px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.462);
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.legPoint h4{
  font-weight: 700;
  margin: 0px;
  padding: 0px;
}
.legPoint img{
  width: 20px;
}
.legPoint .points{
  font-size: 50px;
  font-weight: 500;
}
span{
  font-family: monospace;
}
.legpointtop{
  display: flex;
  justify-content: start;
  align-items: center;
  
}
.infos span{
  font-size: 15px !important;
  font-weight: 700 !important;
}
.infos{
  display: flex;
  justify-content: center;
  align-items: center;
}
.userPhoto{
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 70px;
  background-color: rgb(230, 226, 226);
  border: solid 1px rgba(0, 0, 0, 0.415);
  overflow: hidden;
}
.userPhoto img{
  width: 100%;
}
.legPoint .name, .legpointtop{
  margin-left: 10px;
}

.listofchicken{
  background-color: #cfcfcf;
  border-radius: 10px;
  width: 100%;
  height: 40%;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
 }
 .chicken{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transform: scale(1.3);
 }
 .chicken img{
  transform: scale(1.3);
  margin-bottom: -4px;
  margin-top: 5px;
 }
 #rare img{
  transform: scale(1.4);
 }
 #epic img{
  transform: scale(1.4);
 }
 .startCatching{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
}
#start-catching{
  margin-top: 10px;
  border-radius: 10px;
  height: 8vh;
  width: 100%;
  border: none;
  font-size: 18px;
  color: white;
  background-color: #4a90e2;
}
#start-catching:active{
  background-color: #2768b1;
}
