
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 10px 0;
    background-color: #1a1818;
    bottom: 0;
    position: absolute;
    height: 80px;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
}

footer a{
    text-decoration: none;
    color: white;
    font-size: 12px;
    
}

.nav-item {
    text-align: center;
    height: 80px;
    border-radius: 10px;

    
}

.nav-item img {
    width: 24px;
    height: 24px;
    margin-bottom: 5px;
}

.nav-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}


.navbar-expand{
    margin: 0px;
    padding: 0px;
}

.fixed-bottom{
    margin: 0px;
    padding: 0px;
}

.active{
    background-color: rgb(15, 15, 15);
}

